doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="description" content=(description || "Kails Blog"))
    meta(name="author" content=(author || "Embbnux"))
    title
      = title || 'Home'
      = ' | Kails'
    link(rel='stylesheet' href=helpers.assetUrl('application.css'))
    block dynamicCss
    link(href="/favicon.png" rel="shortcut icon" type="image/png")
    meta(name="csrf-param" content="_csrf")
    meta(name="csrf-token" content=csrf)
  body
    .navbar
      .container
        .navbar-header
          a.nav-logo(href="/") K
          a.nav-name(href="/") Kails
        .navbar-container
          ul.nav.navbar-nav.navbar-menu
            li
              a.nav-item(class=helpers.isActive('index', nav) href="/") Home
            li
              a.nav-item(class=helpers.isActive('news', nav) href="/news") News
            li
              a.nav-item(class=helpers.isActive('about', nav) href="/about") About
          ul.nav.navbar-nav.navbar-right
            - if(!isUserSignIn)
              li
                a.nav-item(class=helpers.isActive('signIn', nav) href="/users/sign_in") SignIn
            - else
              li(class="dropdown")
                a.nav-item.dropdown-toggle(href="#" data-toggle="dropdown")
                  = currentUser.name
                  b(class="caret")
                ul(class="dropdown-menu user-menu")
                  li
                    a(href="/articles/new") New Article
                  li
                    a(href="/users/logout") Logout
            //- li
            //-   a.nav-item(class=isActive('signUp', nav) href="/users/sign_up") SignUp
    .container
      - var messages = flashMessage && flashMessage.messages
      - if (messages)
        - var messageKeys = Object.keys(messages)
        each messageKey in messageKeys
          .alert(class=`alert-${messageKey}`)
            a(class="close" data-dismiss='alert' href="#") x
            = messages[messageKey]
      block content
    footer.footer
      p
        | Power By Kail, &nbsp;
        a(href="https://kails.org") &copy; Kails
      p
        a(class="github-button" href="https://github.com/embbnux/kails" data-count-href="/embbnux/kails/stargazers" data-count-api="/repos/embbnux/kails#stargazers_count" data-count-aria-label="# stargazers on GitHub" aria-label="Star embbnux/kails on GitHub" rel="nofollow") Star
    script(src=helpers.assetUrl('application.js'))
    script(async defer src="https://buttons.github.io/buttons.js")
    block dynamicJs
